/* .wrapper {
  margin-bottom: 16px;
}

.label {
  padding: 16px;
  max-width: 280px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  margin-bottom: 4px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  font-weight: bold;
  color: oklch(0.57 0.04 229.04);
}

.input {
  margin-top: 4px;
  padding: 8px;
  width: 100%;
  border: 1px solid #d1d5db; 
  border-radius: 6px;
  font-size: 14px;
}

.input:focus {
  outline: none;
  border-color: #3b82f6; 
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
} */

.label {
  padding: 16px;
  max-width: 280px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  /* color: #374151; */
  margin-bottom: 4px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  font-weight: bold;
  /* color: oklch(0.57 0.04 229.04); */
  background-color: aliceblue;
}

.input {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.form {
  width: 100%;
  max-width: 360px;
}

.wrapper {
  width: 100%;
  max-width: 300px;
  margin-top: 0;
}
