.button {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  color: #fff;
  min-width: auto;
  display: inline-block;
}

.full {
  flex: 1;
}
.add {
  background-color: #10b981;
}
.add:hover {
  background-color: #059669;
}

.refresh {
  background-color: #3b82f6;
}
.refresh:hover {
  background-color: #2563eb;
}

.default {
  background-color: #6b7280;
}
.default:hover {
  background-color: #4b5563;
}

.delete {
  background-color: #09724f;
}
.delete:hover {
  background-color: #dc2626;
}

/* МОБІЛЬНА АДАПТАЦІЯ */
@media (max-width: 480px) {
  .button {
    width: 100%;
    margin-bottom: 8px;
  }
}
