.container {
  min-height: 100vh;
  background-color: #f8fafc; /* Tailwind slate-50 */
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border: 1px solid #607d8b;
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #607d8b;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #383838;
}
* {
  opacity: 1 !important;
  filter: none !important;
  pointer-events: all !important;
}
